<p id="notice"><%= notice %></p>

<h1>Integration Stores</h1>

<table>
  <thead>
    <tr>
      <th>Kind</th>
      <th>Store name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @integration_stores.each do |integration_store| %>
      <tr>
        <td><%= integration_store.kind %></td>
        <td><%= integration_store.store_name %></td>
        <td><%= link_to 'Destroy', integration_store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= button_to 'Sync store', sync_integration_stores_path(id: integration_store.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Integration Store', new_integration_store_path %>
