<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @integration_store.kind %>
</p>

<p>
  <strong>Store name:</strong>
  <%= @integration_store.store_name %>
</p>

<p>
  <strong>Api key:</strong>
  <%= @integration_store.api_key %>
</p>

<p>
  <strong>Password:</strong>
  <%= @integration_store.password %>
</p>

<p>
  <strong>User:</strong>
  <%= @integration_store.user_id %>
</p>

<%= link_to 'Edit', edit_integration_store_path(@integration_store) %> |
<%= link_to 'Back', integration_stores_path %>
