<p id="notice"><%= notice %></p>

<p>
  <strong>Size:</strong>
  <%= @variant.size %>
</p>

<p>
  <strong>Price:</strong>
  <%= @variant.price %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @variant.inventory %>
</p>

<p>
  <strong>Product:</strong>
  <%= @variant.product.name %>
</p>

<%= link_to 'Edit', edit_product_variant_path(@variant) %> |
<%= link_to 'Back', product_variant_path(@product) %>
