<p id="notice"><%= notice %></p>

<h1>Products</h1>
<div class="row">
  <%= form_tag(search_product_path, :method => "get", class: 'navbar-form navbar-left') do %>
    <div class="input-group">
      <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
      <div class="input-group-btn">
        <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
      </div>
    </div>
  <% end %>
</div>

<br>

<div class="row">
  <% @products.each do |p| %>
    <div class="col-md-2">
      <div class="card">
        <% if p.product_attachments.exists? %>
          <%= image_tag(p.product_attachments.first.photo.url, class: "card-img-top") %><br>
        <% else %>
          <%= image_tag("/undefined.jpg", class: "card-img-top") %><br>
        <% end %>

        <div class="card-body">
          <h5 class="card-title">
            <%= p.name %>
          </h5>
          <p class="card-text">
            <%= p.description %>
            <br>
            <%= "#{p.variants&.first&.price || 0.0} USD" %>
            <% if current_user.store %>
              <%= button_to "Import to my store", import_product_path(id: p.id), class: "btn btn-primary" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>

  <% end %>
</div>
<br>

<%= link_to 'New Product', new_product_path %>
